@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body{
    /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(255,223,229,1) 100%); */
}

header{
    display: flex;
    background-color: #2f082f;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vw;
}

h1{
    font-size: 6vw;
    text-align: right;
}

#pokemon-list{
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem 0;
    gap: 1vw;
}

.card{
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 30vw;
    height: 8vw;
    z-index: 0;
    gap: 2vw;
    margin: 5px 0;
    transition: .2s;
}

.card:hover{
    cursor: pointer;
    border: solid 5px rgba(0, 0, 0, 0.73);
    z-index: 5;
    height: auto;
}

.img-pokemon{
    background-color: rgba(0, 0, 0, 0.19);
    border-radius: 100%;
    width: 50%;
    margin-left: 1vw;
    z-index: 6;
}

.name-pokemon{
    text-transform: uppercase;
    font-size: 1.5vw;
}

.number-pokemon{
    
}

.desc-pokemon{
    
}

#modalOverlay{
    background-color: #00000070;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

#modal{
    background-color: #605f5fe4;
    width: 100%;
    max-width: 70vw;
    height: auto;
    min-height: 50vh;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#modal span#modalClose{
    padding: .5vw;
    color: white;
    position: absolute;
    top: .2vw;
    right: .2vw;
    background-color: #a8a8a8;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3 ease-in-out;
}

#modal span#modalClose:hover{
    background-color: rgba(206, 24, 24, 0.632);
}

#modal img{
    /* background-color: white; */
    width: 50%;
    height: 50%;
    margin-left: 1vw;
}

#modal div{
    padding: 1vw;
    
}

#modalText{
    text-align: center;
    margin-right: 1vw;
}

#modalName{
    font-size: 2.3vw;
    padding-bottom: 3vw;
    font-weight: 600;
    text-transform: uppercase;
}

#modalTypes{
    display: flex;
    padding: 1vw;
    color: white;
    gap: 2vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#modalType1, #modalType2{
    text-transform: uppercase;
    background-color: black;
    border-radius: 5px;
    padding: 1vw;
}

#modalDescription{
    background-color: rgba(243, 236, 236, 0.459);
    margin-top: 1vw;
    padding: .5vw;
    border: solid 3px;
    border-radius: 10px;
}

button#more{
    display: flex;
    margin: 6vw auto 2vw auto;
    padding: 1vw;
    border-radius: 10px;
    /* align-items: center; */
    /* justify-content: center; */
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 500;
    transition: all .4s ease-in-out;
}

button#more:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}



@media (max-width: 768px){
    #modal{
        background-color: #605f5fe4;
        width: 100%;
        max-width: 60vw;
        height: auto;
        min-height: 50vh;
        border-radius: 10px;
        display: block;
        overflow: hidden;
        /* position: relative; */
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }
    
    #modal img{
        /* background-color: white; */
        width: 100%;
        height: 100%;
        padding: 2vw;
    }

    #modalName{
        font-size: 5vw;
    }

    /* #modalTypes{
        display: flex;
        padding: 1vw;
        color: white;
        gap: 2vw;
        text-align: center;
        align-items: center;
    } */
}



@media (max-width: 480px){
    .card{
        width: 40vw;
        height: 10vw;
    }

    .name-pokemon{
        font-size: 2.2vw;
    }
    .number-pokemon{
        font-size: 2.5vw;
    }
}